<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" (click)="setActiveMenuItem(menuItems[0].name)" routerLink="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">

      @if (currentUser$ | async; as currentUser) {
        @for (menu of menuItems; track menu.link) {
          <li class="nav-item" (click)="setActiveMenuItem(menu.name)">
            @if (menu.customDisplay == 'Profile') {
              <a class="nav-link" [ngClass]="{'active': menu.isActive}" [routerLink]="menu.link">
                <img [src]="currentUser.image || defaultProfileImg" class="user-pic" alt="User profile image" />
                {{ currentUser.username }}
              </a>
              } @else {
              <ng-container *ngTemplateOutlet="normalLink; context: {$implicit: menu}"></ng-container>
            }
          </li>
        }
      } @else {
        @for (menu of menuItems; track menu.link) {
          <li class="nav-item" (click)="setActiveMenuItem(menu.name)">
            <ng-container *ngTemplateOutlet="normalLink; context: {$implicit: menu}"></ng-container>
          </li>
        }
      }
    </ul>
  </div>
</nav>

<ng-template #normalLink let-menu>
  <a class="nav-link" [ngClass]="{'active': menu.isActive}" [routerLink]="menu.link">
    @if (menu.icon) {
      <i [class]="menu.icon"></i>&nbsp;
    }
    {{ menu.name }}
  </a>
</ng-template>
