@if (isLoading()) {
  <div class="article-preview">
    Loading articles...
  </div>
} @else {

  @if (articles().length) {
    @for (article of articles(); track article) {
      <div class="article-preview">
        <ng-container *ngTemplateOutlet="articleMeta; context: { $implicit: article }"></ng-container>
        <ng-container *ngTemplateOutlet="articlePreview; context: { $implicit: article }"></ng-container>
      </div>
    }

    <ul class="pagination">
      @for (page of [].constructor(totalPages); track page; let i = $index) {
        <li class="page-item" [ngClass]="{'active': i === activePageIndex()}">
          <a class="page-link" (click)="loadPagingData(i)">{{ i + 1 }}</a>
        </li>
      }
    </ul>
  } @else {
    <div class="article-preview">
      No articles are here... yet.
    </div>
  }

}

<!--Templates-->
<ng-template #articleMeta let-article>
  <div class="article-meta">
    <app-article-meta [article]="article"></app-article-meta>
    <button class="btn btn-outline-primary btn-sm pull-xs-right" (click)="toggleArticleFavorite(article)">
      <i class="ion-heart"></i> {{ article.favoritesCount }}
    </button>
  </div>
</ng-template>

<ng-template #articlePreview let-article>
  <a routerLink="/article/{{article.slug}}" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>

    <ul class="tag-list">
      @for (tag of article.tagList; track tag) {
        <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
      }
    </ul>
  </a>
</ng-template>
<!--End templates-->
