<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="/login">Have an account?</a>
        </p>

        <ul *ngIf="errors['email'] && !mainForm.pristine" class="error-messages">
          <li *ngFor="let err of errors['email']">{{ err }}</li>
        </ul>

        <ul *ngIf="errors['username'] && !mainForm.pristine" class="error-messages">
          <li *ngFor="let err of errors['username']">{{ err }}</li>
        </ul>

        <ul *ngIf="successDisplayed && mainForm.pristine" class="success-messages">
          <li>Registration successful</li>
        </ul>

        <form [formGroup]="mainForm">
          <fieldset class="form-group">
            <input formControlName="username" class="form-control form-control-lg" type="text" placeholder="Username" />
          </fieldset>
          <fieldset class="form-group">
            <input formControlName="email" class="form-control form-control-lg" type="text" placeholder="Email" />
          </fieldset>
          <fieldset class="form-group">
            <input formControlName="password" class="form-control form-control-lg" type="password" placeholder="Password" />
          </fieldset>
          <button [disabled]="!mainForm.valid" (click)="registerUser()"
                  class="btn btn-lg btn-primary pull-xs-right">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
