@if (isLoading()) {
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>Loading article...</h1>
      </div>
    </div>
  </div>
} @else {
  @if (article()) {
    <div class="article-page">
      <div class="banner">
        <div class="container">
          <h1>{{ article()!.title }}</h1>

          <ng-container *ngTemplateOutlet="articleMeta; context:{ $implicit: article() }"></ng-container>
        </div>
      </div>

      <div class="container page">
        <div class="row article-content">
          <div class="col-md-12">
            <markdown [data]="article()!.body"></markdown>
            <br>
            <ul class="tag-list">
              @for (tag of article()!.tagList; track tag) {
                <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
              }
            </ul>
          </div>
        </div>

        <hr />

        <div class="article-actions">
          <ng-container *ngTemplateOutlet="articleMeta; context:{ $implicit: article() }"></ng-container>
        </div>

        <app-article-comments></app-article-comments>
      </div>
    </div>
  } @else {
    <div class="article-page">
      <div class="banner">
        <div class="container">
          <h1>No article found</h1>
        </div>
      </div>
    </div>
  }
}

<ng-template #articleMeta let-article>
  <div class="article-meta">
    <app-article-meta [article]="article" [enableUserActions]="!isArticleOwner" [enableAuthorActions]="isArticleOwner"
                      (deleted)="delete()" (favorited)="toggleArticleFavorited($event)"
                      (followed)="toggleAuthorFollowed($event)">
    </app-article-meta>
  </div>
</ng-template>
