<a routerLink="/profile/{{article.author.username}}"><img [src]="article.author.image || DEFAULT_PROFILE_IMAGE" /></a>
<div class="info">
  <a routerLink="/profile/{{article.author.username}}" class="author">{{ article.author.username }}</a>
  <span class="date">{{ article.updatedAt | date }}</span>
</div>

<ng-container *ngIf="enableUserActions">
  <ng-container *ngIf="article.author.following">
    <button class="btn btn-sm btn-outline-danger" (click)="followed.emit(false)">
      <i class="ion-minus-round"></i>
      Unfollow {{ article.author.username }}
    </button>
  </ng-container>

  <ng-container *ngIf="!article.author.following">
    <button class="btn btn-sm btn-outline-secondary" (click)="followed.emit(true)">
      <i class="ion-plus-round"></i>
      &nbsp; Follow {{ article.author.username }}
    </button>
  </ng-container>

  <ng-container *ngIf="article.favorited">
    <button class="btn btn-sm btn-outline-primary" (click)="favorited.emit(false)">
      <i class="ion-heart"></i>
      &nbsp; Unfavorite Article <span class="counter">({{ article.favoritesCount }})</span>
    </button>
  </ng-container>

  <ng-container *ngIf="!article.favorited">
    <button class="btn btn-sm btn-outline-primary" (click)="favorited.emit(true)">
      <i class="ion-heart"></i>
      &nbsp; Favorite Article <span class="counter">({{ article.favoritesCount }})</span>
    </button>
  </ng-container>
</ng-container>

<ng-container *ngIf="enableAuthorActions">
  <button class="btn btn-sm btn-outline-secondary" routerLink="/editor/{{article.slug}}">
    <i class="ion-edit"></i> Edit Article
  </button>
  <button class="btn btn-sm btn-outline-danger" (click)="deleted.emit()">
    <i class="ion-trash-a"></i> Delete Article
  </button>
</ng-container>
